body {
    margin: 0;
    font-size: 20px;
    font-family: "geometriaregular";
  }

  @font-face {
    font-family: 'geometriaregular';
    src: url('fonts/geometria-webfont.woff2') format('woff2'),
         url('fonts/geometria-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 
  }
  
  h1{
    font-weight: bolder
  }
  .header {
    background-color: #000000;
    text-align: center;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 54.25%; /* 16:9 */
    height: 0;

  }

  @media screen and (max-width: 480px){
      #header {display:none;}
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #navbar {
    overflow: hidden;
    background-color: black;
    z-index: 1;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "geometriaregular";
  
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: rgb(156, 158, 165);
    color: white;
  }
  
  .content {
    padding: 16px;
    background-image: url("images/abBlackBack.png");
    color: rgb(202, 197, 197);
    font-family: "geometriaregular";
    
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

footer {
 
  text-align: center;
  color: white;
}

img { 
    max-width: 100%; 
    height: auto; 
}

  /*  <link rel = "stylesheet" type = "text/css" href = "style.css" /> */